<form action="/TP_PHP/multiplication3.php" method="GET">
    <label>
        Entrez un nombre:
            <input type="number" placeholder="Entrez un nombre" name="n" value="nombre" required>
    </label>
    
    <button type="submit">Envoyer</button>
</form>